<div class="layout">
	<div class="header">
		<span>
			<img src="/@/contact-management/logo.svg" />
			<strong>Contact Management</strong>
		</span>
		<a id="logout" href="">Logout</a>
	</div>
	<div id="contentContainer" class="content-container">
		<div class="navigation">
			<a class="{contacts_active}" href="{menu-path}/contacts">Contacts</a>
			<a class="{profile_active}" href="{menu-path}/profile">Profile</a>
		</div>
		<!-- the content goes here -->
	</div>
	<div class="footer">
		<span>2021 (c) hendrikweiler.com</span>
	</div>
</div>